footer{
  background-color: #001427;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Lexend';
  font-weight: normal;
}
footer h4{
  color: #fff;
}

.footer_items{
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 60%;
}

.footer_items a{
  color: #fff;
  font-size: 15px;
  text-decoration: none
}

.footer_items a:hover{
  color: #aaa;
}

.footer_items li{
  color: #fff;
  list-style: none;
}
