@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #001427;
  font-family: 'Lexend';
}

.logo{
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  cursor: default;
}

.nav_items{
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav_items a{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.nav_items a:hover{
  color: #ccc;
}

.nav_items li{
  color: #fff;
  list-style: none;
}
